@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Mulish', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  font-size: inherit;
  color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-inline: 5rem;
  margin-inline: auto;
}

@media (max-width: 768px) {
  .container {
    padding-inline: 0;
  }
}

.section {
}

.section-main {
  display: flex;
  flex-flow: column;
  justify-content: center;

  padding-block: 2rem;

  background-image: url('../images/main-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  aspect-ratio: 1440 / 832;
}

@media (max-width: 768px) {
  .section-main {
    padding-block: 4rem;
  }
}

.section-main__title {
  color: #fff;
  font-size: 4.625rem;
  font-weight: 900;
  line-height: 93px;
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  .section-main__title {
    color: rgb(255, 255, 255);
    font-size: 2.875rem;
    font-weight: 900;
    line-height: 59px;
    text-align: center;
  }
}

.section-main__title span {
  background: linear-gradient(127.43deg, rgb(117, 224, 10), rgb(10, 224, 160));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Mulish;
  font-size: 4.375rem;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 0%;
  text-align: left;
}

@media (max-width: 768px) {
  .section-main__title span {
    background: linear-gradient(
      127.43deg,
      rgb(117, 224, 10),
      rgb(10, 224, 160)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 2.125rem;
    font-weight: 900;
    line-height: 43px;
  }
}

.section-main__form {
  margin-top: 1.5rem;
}

.form {
  padding: 2rem 2.25rem;
  border-radius: 0.5rem;
  background: rgba(22, 29, 23, 0.74);

  display: flex;
  flex-flow: column;
  row-gap: 0.75rem;

  max-width: 33.5rem;
  width: 100%;
}

@media (max-width: 768px) {
  .form {
    padding: 1.25rem 1rem;
  }
}

.form__field {
  border: 1.5px solid rgb(219, 255, 183);
  border-radius: 0.5rem;
  padding: 0.625rem 1.125rem;

  color: rgb(255, 255, 255);
  font-family: Reem Kufi;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}

.form__button {
  padding: 0.625rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    127.43deg,
    rgb(117, 224, 10) 0.062%,
    rgb(10, 224, 160) 98.126%
  );

  color: rgb(0, 0, 0);
  font-family: Reem Kufi;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.form__terms {
  color: rgb(80, 255, 0);
  font-family: Reem Kufi;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}

.form__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem;

  border-radius: 0.5rem;
  background: linear-gradient(
    127.43deg,
    rgba(117, 224, 10, 0.49) 0.079%,
    rgba(10, 224, 160, 0.49) 98.098%
  );
}

.form__info-content {
  color: rgb(255, 255, 255);
  font-family: Reem Kufi;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.form__info-content:last-child {
  border-left: 1px solid rgb(255, 255, 255);
}

.section-waitlist {
  background-image: url('../images/list-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  aspect-ratio: 1440 / 930;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .section-waitlist {
    padding: 2rem 1rem;
    height: 100%;
  }
}

.section-waitlist__title {
  background: linear-gradient(127.43deg, rgb(117, 224, 10), rgb(10, 224, 160));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 3.375rem;
  font-weight: 700;
  line-height: 68px;
  text-align: center;
}

@media (max-width: 768px) {
  .section-waitlist__title {
    background: linear-gradient(
      127.43deg,
      rgb(117, 224, 10),
      rgb(10, 224, 160)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 103%;
    text-align: left;
  }
}

.waitlist__list {
  margin-top: 3.125rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.75rem;
}

@media (max-width: 768px) {
  .waitlist__list {
    grid-template-columns: 1fr;
  }
}

.waitlist__item {
  display: grid;
  grid-template-columns: 5.5rem 1fr;
  align-items: center;
  column-gap: 1rem;
}

@media (max-width: 768px) {
  .waitlist__item {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }
}

.waitlist__count {
  border: 1px solid rgb(80, 255, 0);
  background: linear-gradient(
    180deg,
    rgba(59, 255, 30, 0.57),
    rgba(20, 60, 14, 0) 100%
  );

  display: grid;
  place-items: center;
  border-radius: 999rem;
  width: 5.5rem;
  height: 5.5rem;
  color: rgb(105, 224, 29);
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 54px;
}

@media (max-width: 768px) {
  .waitlist__count {
    width: 3.375rem;
    height: 3.375rem;

    font-size: 2.125rem;
    line-height: 41px;
  }
}

.waitlist__title {
  color: rgb(90, 205, 28);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
}

@media (max-width: 768px) {
  .waitlist__title {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 25px;
  }
}

.waitlist__description {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;

  grid-area: 2 / 2 / 3 / 3;
}

@media (max-width: 768px) {
  .waitlist__description {
    grid-area: auto;

    font-size: 1rem;
    line-height: 20px;
  }
}
